fieldset {
  background: rgba(73,155,234,1);
}

legend {
  background: white;
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

#submitButton {
  width: 150px;
  font-size: 20px;
}

span {
  color: red;
}
