body {
  background: rgb(0, 0, 0);
}

fieldset {
  background: rgb(105, 40, 132);
}

legend {
  background: white;
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 20px;
}

#submitButton {
  width: 150px;
  font-size: 20px;
}

span {
  color: rgb(228, 14, 14);
}
